/**
 * Updated by augustus.hyu_'s author on January 02, 2024
 * "Code is like humor. When you have to explain it, it’s bad." by Cory House
 */
{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/transform-runtime"],
    ["module-resolver", { "alias": { "@": "./src" } }]
  ]
}